.nav {
    padding: 20px;
    grid-area: n;
    background-image: url(../images/wallpaper_480x800_№28_34.jpg) ;
    background-color: coral;
    background-repeat: unset;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

